{% extends 'base.html' %} {% block title %}Actualizar empleado{% endblock %} {% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='forms.css')}}">
<br><br>
<h1>Actualizar empleado</h1>
<br><br>
<form method="POST" action="/admin/update-employee/{{updateEmployee.id}}">
    <input type="text" name="name" placeholder="Nombre" value="{{updateEmployee.name}}" required pattern="^[A-Za-zÑñ ]{0,50}$" title="Solo letras, máximo 50 caracteres."><br><br>
    <input type="text" name="lastname1" placeholder="Apellido Paterno" id="" value="{{updateEmployee.lastname1}}" required pattern="^[A-Za-zÑñ ]{0,50}$" title="Solo letras, máximo 50 caracteres."><br><br>
    <input type="text" name="lastname2" placeholder="Apellido Materno" id="" value="{{updateEmployee.lastname2}}" required pattern="^[A-Za-zÑñ ]{0,50}$" title="Solo letras, máximo 50 caracteres."><br><br>
    <input type="text" style="text-transform:uppercase;" name="curp" placeholder="CURP" value="{{updateEmployee.curp}}" id="" required pattern="^[A-Za-zñÑ #0-9]{18,18}$" title="La CURP debe tener 18 caracteres"><br><br>
    <input type="number" name="nss" placeholder="Número de seguro social" id="" value="{{updateEmployee.nss}}" required pattern="^[0-9]{11,11}$" title="El NSS debe tener 11 digitos" max="99999999999"><br><br>
    <input type="text" name="street" placeholder="Calle" id="" value="{{updateEmployee.street}}" required pattern="^[A-Za-zñÑ #0-9]{0,40}$" title="Solo letras y números, máximo 40 caracteres."><br><br>
    <input type="text" name="number" placeholder="Número" id="" value="{{updateEmployee.number}}" required pattern="^[0-9]{0,10}$" title="Solo números, máximo 10 caracteres."><br><br>
    <input type="text" name="colony" placeholder="Colonia" id="" value="{{updateEmployee.colony}}" required pattern="^[A-Za-zñÑ #0-9]{0,40}$" title="Solo letras y números, máximo 40 caracteres."><br><br>
    <input type="text" name="city" placeholder="Municipio" id="" value="{{updateEmployee.city}}" required pattern="^[A-Za-zñÑ #0-9]{0,40}$" title="Solo letras y números, máximo 40 caracteres."><br><br>
    <input type="text" name="codigoPostal" placeholder="Código Postal" id="" value="{{updateEmployee.codigoPostal}}" required pattern="^[0-9]{0,5}$" title="Solo números, máximo 10 caracteres."><br><br>
    <input type="text" name="telephone" placeholder="Teléfono" value="{{updateEmployee.telephone}}" required pattern="^[0-9]{10,15}$" title="Solo números, minimo 10 caracteres y máximo 15."><br><br>
    <input type="email" name="email" placeholder="Email" id="" value="{{updateEmployee.email}}" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"><br><br>
    <input type="date" name="date" placeholder="Fecha de nacimiento" id="" value="{{updateEmployee.date}}"><br><br>
    <input type="number" name="salary" placeholder="Salario" id="" value="{{updateEmployee.salary}}" required min="0" max="1000000"><br><br>
    <button type="submit ">Actualizar empleado</button>
</form>

<br><br><br> {% endblock %}