<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{{url_for('static', filename='forms.css')}}">
</head>

<body>
    <style>
        .alert {
            color: #0f5132;
            background-color: #d1e7dd;
            border-color: #badbcc;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
        }
    </style>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}

    <br><br>

    <h1>Inicio de sesión</h1><br>
    <form align='center' method="POST">
        <input type="email" name="email" placeholder="Email" id=""><br><br>
        <input type="password" name="password" placeholder="Contraseña" id=""><br><br>
        <br><br><button type="submit">Login</button><br><br>
    </form>


</body>

</html>