<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{url_for('static', filename='forms.css')}}">
</head>

<body>

    <br><br>

    <h1>Signup</h1><br>
    <form align='center' method="POST">
        <input type="text" name="name" placeholder="Nombre" id=""><br><br>
        <input type="email" name="email" placeholder="Email" id=""><br><br>
        <input type="text" name="address" placeholder="Dirección" id=""><br><br>
        <input type="number" name="telephone" placeholder="Teléfono" id=""><br><br>
        <input type="password" name="password" placeholder="Contraseña" id=""><br><br>
        <br><br><button type="submit">Registrarse</button><br><br>
        <a href="/login">¿Ya tiene una cuenta? Inicie sesión</a>
    </form>


</body>

</html>